db.enabled=false
db.fallbackToDemo=true
db.host=localhost
db.port=3306
db.database=linova_erp
db.username=YOUR_DB_USER
db.password=CHANGE_ME
db.useSsl=true
db.allowPublicKeyRetrieval=false
db.serverTimezone=UTC
db.connectTimeoutMs=3000
db.socketTimeoutMs=5000
